
:root{
  --preto: black;
  --verde: rgba(72, 209, 72, 0.014); 
  --cinza: #565158d0;
  --branco: rgba(247, 242, 242, 0.863);
  --azul:   rgba(50, 50, 228, 0.945);  
  --indigo: indigo;
  --indigo-claro:rgba(112, 66, 145, 0.87);
}

body{
  margin: 10px;
  padding: 0px;
  width: 100%;
  
  background-color: var(--preto);
 
}

nav img{
  width: 100%;
  margin: 0px;
  padding: 0px;
 
}



header{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}
 
article{
  gap: 10px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  
}
 

article div{
  border-color: var(--branco);
  margin: 20px;
  border-radius: 2rem;
  width: 100%;
  width: 390px;
  height: 540px;
  box-shadow: 10px 10px 10px 10px  rgba(135, 18, 231, 0.26);
  border: groove;
}


article div h2{
  margin: 0px;
  padding: 10px;
  width: 370px;
  height: 520px;
  background-color: var(--verde);
  display: none; 
  border-radius: 2rem;
  
}

article div p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--cinza);
  width: 37b0px;
  height: 390px;
}


article li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--cinza);
  list-style: none;
  padding: 10px;
  
}


article div:hover{
  cursor: pointer;
  font-size: 2rem;
  transform: translate(40px, 80px);
  transform-origin: left;
  
}



.fase1{
  
  background-image: url(imagens/1°fase.jpg);
 }

 .fase1:hover h2{
  display: block;
  }


 .fase2{
  
  background-image: url(imagens/2°fase.jpg);
 }

 .fase2:hover h2{
  display: block;
 
}


 .fase3{
  
  background-image: url(imagens/3°fase.jpg);
 }

 .fase3:hover h2{
  display: block;
  
}


 .fase4{
   
  background-image: url(imagens/4°fase.jpg);
 }

 .fase4:hover h2{
  display: block;
  
}


.fase5{
   
  background-image: url(imagens/5°fase.jpg);
 }

 .fase5:hover h2{
  display: block;
  
}



 .fase6{
  
  background-image: url(imagens/6°fase.jpg);
 }

 .fase6:hover h2{
  display: block;
 
}



 .fase7{
  
  background-image: url(imagens/7°fase.jpg);
 }

.fase7:hover h2{
  display: block;
  
}


 .fase8{
  
  background-image: url(imagens/8°fase.jpg);
 }
  
 .fase8:hover h2{
  display: block;
  
}


@media (max-width: 690px){

  nav img{
    width: 100%;
  }
 
 nav{
  width: 100%;

 }  


  article{
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
  }

  
}


 