
footer{
    height: 200px;
    width: 100%;
    display: grid;
    background-color: var(--preto) ;
    border-color: var(--branco);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    grid-area: footer;
}


.midia{
    font-size: 40px;
  color: var(--azul);
  




}


.contato{
    font-size: 40px;
    color: var(--azul);
    
}



.horario{
margin: 0px;
padding: 0px;
}

.horario i{
    font-size: 40px;
    color: var(--azul);
}

.horario h3{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--azul);
}

@media  (max-width: 680px){
    
  
    .horario{
        font-size:30px
    }

    .midia{
        font-size:30px

    }
    .contato{
        font-size:30px

    }
    .horario h3{
        font-size: 12px;
    }
    .horario i{
        font-size: 30px;
    }
}

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